/* URLs on the domain: <internal confluence domain> */


/* Site header */
header[id='header'] {
    filter: brightness(200%) !important;
}
div[class='aui-avatar-inner'] {
    filter: invert(1) hue-rotate(180deg) !important;
}

/* Code blocks */
div[class='code panel pdl conf-macro output-block'] {
    filter: invert(1) hue-rotate(180deg) !important;
}

/* Images and Avatars */
img[class='confluence-embedded-image'], img[class='userLogo logo'] {
    filter: invert(1) !important;
}