/* URLs on the domain:  <internal JIRA domain>  */


/* Leave box headers the same color */
div[class='dashboard-item-header'] {
    filter: hue-rotate(180deg) brightness(280%) !important;
}

/* Avatars */
span[class='aui-avatar-inner'], div[class='aui-avatar-inner'] img {
    filter: invert(1) hue-rotate(180deg)
}

/* Time tracking table */
div[class='pagingtable'] {
    filter: invert(1)  !important;
}
tr[class='rowNormal']  {
    background-color: #d2d2d2;
}
table[id='issuetable'] thead {
    background-color: #fff;
}

/* Attachment images */
span[class='image-wrap'], div[class='attachment-thumb'], div[id='cp-container-1'], div[id='attach-screenshot-image-container'] {
    filter: invert(1) hue-rotate(180deg) !important;
}


/* Activity Feed */
div[class='activitystream-container actionContainer'] {
    filter: invert(1) !important;
}
span[class='user-icon'] {
    filter: invert(1) !important;
}

