/* DARK MODE MASTER */
/* This MUST be enabled for the rest of the styles to work. */

html {
  background-color: #262626 !important;
}

body {
  background-color: #FFF !important;
  filter: invert(85%) !important;
}

em, img, svg, image, video, audio, embed, iframe, object, button, canvas, figure:empty {
  filter: hue-rotate(-180deg) !important;
}