/* URLs on the domain: wgu.mindedgeonline.com */


/* Top Bar */
/* Ditch glow */
#main-navigation {
    box-shadow: none !important;
}
/* Invert buttons */
ul[id='identity'] {
    filter: invert(85%);
}
/* Invert WGU logo */
div[id='collapsible-menu'] h1, div[id='collapsible-menu'] h2 {
    filter: invert(85%) !important;
}


/* Main box */
/* Remove glow */
#main {
    box-shadow: none !important;
    min-width: 2000px !important;
    margin: 0 0 0 0 !important;
    left: 5% !important;
}
/* Widen main content and enlarge font */
#contentcolumn {
    padding-top: 200px !important;
    min-width: 1600px !important;
    font-size: 22px !important;
}

/* Fix images */
div[class='mycontent'] * img {
    filter: invert(115%) !important;
}