/* URLs on the domain: ucertify.com */


/* Circles around TOC nodes */
div[class='toc-read-block position-absolute'] * {
    filter: invert(0) !important;
}

/* Fixes the bottom bar not sticking for some reason */
footer[id='bottombar'] {
    position: sticky !important;
    bottom: -3px !important;
}

/* Darken Knowledge Check objects */
player[type='quiz'] iframe {
    filter: invert(1) hue-rotate(180deg) !important;
}