/* URLs on the domain: vitalsource.com */



/* Main HTML settings (used by read app itself) */
html {
    /*
    Non-inverted versions
    --RS__backgroundColor: #262626 !important;
    --RS__textColor: #F0F0DA !important;
    */
    --RS__backgroundColor: #FFF !important;
    --RS__textColor: #FFF !important;
}

/* Side bar and buttons */
#vertical-toolbar {
    width: 0px !important;
}
#side-buttons,
#side-buttons div button span svg
{
    width: 10px !important;
}
#reader-content {
    left: 10px !important;
}

/* Left side navigation and scrubber */
.level-container,
.level-container li,
.level-container li button,
div[class='content  hideheader'] div div,
div[class='content  hideheader'] div div h3,
div[class='header noselect'],
div[class='header noselect'] h2,
div[class='panel-header-container'],
div[class='up-level'],
div[class='up-level active'],
#reader-handler,
#scrubber,
#scrubber-container {
    background: #262626 !important;
    color: #F0F0DA !important;
}

/* This slightly dims the white loading page when changing chapters. Not sure why it doesn't work all the way. */
div[id='epub-container'] {
    background: #262626 !important;
    color: #262626 !important;
}

/* Next chapter button */
div[id='jigsaw-placeholder-outer'] {
    background: #262626 !important;
}
div[class='vertical-button-wrapper next-wrapper'] button {
    background: #202020 !important;
}