/* URLs on the domain: my.wgu.edu */


/* Fix Course page sidebar */
iframe[title='Course Links'] {
    filter: invert(1) !important;
}
/* Instructor/Mentor pictures */
img[class='card__header__img card__header--md__img'] {
    filter: invert(1) !important;
}




/* URLs on the domain: visual.force.com */


/* WGU Course Instructor images in sidebar */
html * img {
    filter: invert(1) !important;
}